In [ ]:
# Last amended: 11th July, 2020
# objectives:
#             Introduce random NaN values in dataset
#
# Ref https://stackoverflow.com/a/54330885

In [10]:
# 1.1 Call libraries
%reset -f
# 1.2 For data manipulations
import pandas as pd
import numpy as np
import os

In [16]:
# 2.0 Go to folder containing data file
#     and read file:
#os.chdir("D:\\data\\OneDrive\\Documents\\advertising")
os.chdir("/home/ashok/Documents/advertising")

# 2.1 Read file and while reading file,
#      convert 'Timestamp' to datetime time
ad = pd.read_csv("advertising.zip",
                  parse_dates = ['Timestamp']    # especial for date parsing
                  )

# 2.2 Look at data and make up your mind 
#     as to which in which columns
#     amendement has to be made
ad.head(3)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0

In [17]:
# 3.0 Start inserting NaNs

# 3.1 Select 10% of data. And get the index.
nan_col_idx = ad['Daily Internet Usage'].sample(frac=0.1).index

# 3.2 Insert NaNs
ad.loc[nan_col_idx, 'Daily Internet Usage'] = np.NaN

# 3.3 How many Nulls?
ad['Daily Internet Usage'].isnull().sum()

100

In [18]:
# 3.1 Insert NaN in another columns
nan_col_idx  = ad['Age'].sample(frac=0.1).index
ad.loc[nan_col_idx ,'Age'] = np.nan
ad['Age'].isnull().sum()

100

In [19]:
# 3.2
nan_col_idx = ad['Daily Time Spent on Site'].sample(frac=0.1).index
ad.loc[nan_col_idx, 'Daily Time Spent on Site'] = np.nan
ad['Daily Time Spent on Site'].isnull().sum()

100

In [20]:
# 3.3 
nan_col_idx = ad['Area Income'].sample(frac=0.1).index
ad.loc[nan_col_idx, 'Area Income']= np.nan
ad['Area Income'].isnull().sum()

100

In [25]:
# 3.4 Save data back to a file
ad.to_csv("ad_mis.csv")

In [ ]:
###########################################################